.navi-bar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.logo-img {
    width: 50px;
    height: 50px;
    padding: 3px;
    margin-top: -16px;
}

.logo-text {
    font-family: "Dancing Script";
    font-weight: bolder;
    font-size: 3rem;
}

.slider-img {
    width: 100%;
}

.article-container {
    margin-top: 60px;
}

.article-wrapper {
    margin-bottom: 20px;
}

.article-img {
    width: 100%;
}

.mrg-btm-20 {
    margin-bottom: 20px;
}

/* @media screen and (min-width: 1024px) {
    .slider-wrapper {
        height: 500px;
    }
}

@media screen and (min-width: 750px) {
    .slider-wrapper {
        height: 500px;
    }
}

@media screen and (min-width: 400px) {
    .slider-wrapper {
        height: 800px;
    }
}

@media screen and (min-width: 320px) {
    .slider-wrapper {
        height: 500px;
    }
}

 */